body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h3 {
  margin-top:50px;
}

ul.list-group {
  width:100%;
}

li.list-group-item {
  margin: 20px 0;
}

.save-button {
  float: right;
  color: #ffffff;
  background-color: #28a745;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}
.save-button:hover {
  filter: brightness(80%);
  text-decoration: none;
  color: #ffffff;
}