.book-headers {
    width: 50%;
    margin-bottom: 20px;
}
.book-headers span {
    font-weight: bold;
}
.book-headers p {
    margin:0;
}
.book-buttons {
    width: 50%;
}
.view-link {
    float: right;
    color: #ffffff;
    background-color: #2b41e2;
    border-color: #2b41e2;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin-right: 15px;
}
.view-link:hover {
    color: #ffffff;
    background-color: #202f9d;
    border-color: #202f9d;
    text-decoration: none;
    color: #ffffff;
}
.book-data span {
    font-weight: bold;
}
.book-image {
    float: left;
    margin: 0 40px 10px 0;
}

#saveBtn {
    float:right;
    color: #ffffff;
    background-color: #28a745;
    border-color: #28a745;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor:pointer;
}
#saveBtn:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

#deleteBtn {
    float:right;
    color: #ffffff;
    background-color: #f03030;
    border-color: #f03030;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor:pointer;
}

#deleteBtn:hover {
    color: #fff;
    background-color: #b42323;
    border-color: #b42323;
}